$font-сonfirmed-сases: normal 600 20px/25px 'Avenir Next Cyr', Arial, sans-serif;
$font-сonfirmed-сases-tablet: normal 600 17px/21px 'Avenir Next Cyr', Arial, sans-serif;
$font-сonfirmed-сases-mobile: normal 600 15px/18px 'Avenir Next Cyr', Arial, sans-serif;
$font-region-country: normal 450 20px/25px 'Avenir Next Cyr', Arial, sans-serif;
$font-region-country-tablet: normal 450 17px/21px 'Avenir Next Cyr', Arial, sans-serif;
$font-region-country-mobile: normal 450 15px/18px 'Avenir Next Cyr', Arial, sans-serif;
$font-amount-country: normal 450 18px/22px 'Avenir Next Cyr', Arial, sans-serif;
$font-amount-country-tablet: normal 450 16px/19px 'Avenir Next Cyr', Arial, sans-serif;
$font-amount-country-mobile: normal 450 15px/18px 'Avenir Next Cyr', Arial, sans-serif;
$font-text: normal normal 18px/22px 'Avenir Next Cyr', Arial, sans-serif;
$font-text-tablet: normal normal 16px/19px 'Avenir Next Cyr', Arial, sans-serif;
$font-text-mobile: normal normal 15px/18px 'Avenir Next Cyr', Arial, sans-serif;
$font-block-title-wrapper: normal 450 19px/25px 'Avenir Next Cyr', Arial, sans-serif;
$font-block-title-wrapper-tablet: normal 450 18px/23px 'Avenir Next Cyr', Arial, sans-serif;
$font-block-title-wrapper-mobile: normal 450 16px/20px 'Avenir Next Cyr', Arial, sans-serif;
$font-block-title: normal 600 35px/42px 'Avenir Next Cyr', Arial, sans-serif;
$font-block-title-tablet: normal 600 30px/36px 'Avenir Next Cyr', Arial, sans-serif;
$font-block-title-mobile: normal 600 19px/23px 'Avenir Next Cyr', Arial, sans-serif;
$font-header-title: normal 400 24px/32px 'Avenir Next Cyr', Arial, sans-serif;
$font-update-time-title: normal 450 19px/22px 'Avenir Next Cyr', Arial, sans-serif;
$font-update-time-title-laptop: normal 450 16px/18px 'Avenir Next Cyr', Arial, sans-serif;
$font-update-time-title-tablet: normal 450 15px/17px 'Avenir Next Cyr', Arial, sans-serif;
$font-update-time-title-mobile: normal 450 14px/16px 'Avenir Next Cyr', Arial, sans-serif;
$font-update-time: normal 400 15px/17px 'Avenir Next Cyr', Arial, sans-serif;
$font-search-country: normal 450 15px/17px 'Avenir Next Cyr', Arial, sans-serif;

$breakpoint-mobile-landscape: 768px;
$breakpoint-tablet-landscape: 992px;
$breakpoint-laptop-landscape: 1280px;
