$font-base: 15px/160% Arial, Helvetica, sans-serif;

$base-bg-color: #61b5d4;
$color-white: #fff;
$color-black: #000;
$color-blue: #346bbc;
$color-light-brown: #ddcbb8;
$color-pistachio: #b2f191;
$color-dark-blue: #0388b7;
$color-light-gray: #f0f0f0;
$color-pink: #f191a9;
$color-turquoise: #beeae8;
$color-dark-turquoise: #24d7f7;
$color-light-turquoise: #a3ffff;
$color-dark-purple: #30296f;
$color-light-green: #23d5ab;
$color-dark-green: #209b7e;
$color-light-orange: #ffd86f;
$color-light-red: #fc6262;

$base-transition: all 0.3s ease;
